.targetUL-1 {
    width: 500px;
    padding: 10px;
    background-color: orange;
  }
  
  .list-item {
    cursor: grab;
    list-style: none;
    margin: 0.2rem 0;
    padding: 8px;
    border-radius: 5px;
    background: wheat;
  }